<Codebox Title="Basic">
    <Description>
        Simplest Usage.
    </Description>
    <Demo>
        <Descriptions>
            <Title>User Info</Title>
            <ChildContent>
                <DescriptionsItem>
                    <Label>UserName</Label>
                    <Content>Zhou Maomao</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Telephone</Label>
                    <Content>1810000000</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Live</Label>
                    <Content>Hangzhou, Zhejiang</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Remark</Label>
                    <Content>empty</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Address</Label>
                    <Content>
                        No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
                    </Content>
                </DescriptionsItem>
            </ChildContent>
        </Descriptions>
    </Demo>
</Codebox>