<Codebox Title="Border">
    <Description>
        Descriptions with border and background color.
    </Description>
    <Demo>
        <Descriptions Bordered>
            <Title>User Info</Title>
            <ChildContent>
                <DescriptionsItem>
                    <Label>Product</Label>
                    <Content>Cloud Database</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Billing Mode</Label>
                    <Content>Prepaid</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Automatic Renewal</Label>
                    <Content>YES</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Order time</Label>
                    <Content>2018-04-24 18:00:00</Content>
                </DescriptionsItem>
                <DescriptionsItem Span=2>
                    <Label>Usage Time</Label>
                    <Content>2019-04-24 18:00:00</Content>
                </DescriptionsItem>
                <DescriptionsItem Span=3>
                    <Label>Status</Label>
                    <Content>
                        <Badge Status=BadgeStatus.Processing Text="Running" />
                    </Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Negotiated Amount</Label>
                    <Content>$80.00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Discount</Label>
                    <Content>$20.00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Official Receipts</Label>
                    <Content>$60.00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Config Info</Label>
                    <Content>
                        Data disk type: MongoDB
                        <br />
                        Database version: 3.4
                        <br />
                        Package: dds.mongo.mid
                        <br />
                        Storage space: 10 GB
                        <br />
                        Replication factor: 3
                        <br />
                        Region: East China 1
                        <br />
                    </Content>
                </DescriptionsItem>
            </ChildContent>
        </Descriptions>
    </Demo>
</Codebox>