<Codebox Title="Responsive">
    <Description>
        Responsive configuration enables perfect presentation on small screen devices.
    </Description>
    <Demo>
        <Descriptions Bordered Column=resp>
            <Title>Responsive Descriptions</Title>
            <ChildContent>
                <DescriptionsItem>
                    <Label>Product</Label>
                    <Content>Cloud Database</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Billing Mode</Label>
                    <Content>Prepaid</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Order time</Label>
                    <Content>18:00:00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Amount</Label>
                    <Content>$80.00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Discount</Label>
                    <Content>$20.00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Official</Label>
                    <Content>$60.00</Content>
                </DescriptionsItem>
                <DescriptionsItem>
                    <Label>Config Info</Label>
                    <Content>
                        Data disk type: MongoDB
                        <br />
                        Database version: 3.4
                        <br />
                        Package: dds.mongo.mid
                        <br />
                        Storage space: 10 GB
                        <br />
                        Replication factor: 3
                        <br />
                        Region: East China 1
                    </Content>
                </DescriptionsItem>
            </ChildContent>
        </Descriptions>
    </Demo>
</Codebox>
@code{
    private ResponsiveDescription resp = new ResponsiveDescription(xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1);
}