<Codebox Title="Custom Size">
    <Description>
        Descriptions with border and background color.
    </Description>
    <Demo>
        <div>
            <RadioGroup OnChange=@ChangeSize Value="@size.Name">
                <Radio Value=@DescriptionsSize.Default.Name>Default</Radio>
                <Radio Value=@DescriptionsSize.Middle.Name>Middle</Radio>
                <Radio Value=@DescriptionsSize.Small.Name>Small</Radio>
            </RadioGroup>
            <br />
            <br />
            <Descriptions Bordered Size=size>
                <Title>Custom Size</Title>
                <ChildContent>
                    <DescriptionsItem>
                        <Label>Product</Label>
                        <Content>Cloud Database</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Billing Mode</Label>
                        <Content>Prepaid</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Order time</Label>
                        <Content>18:00:00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Amount</Label>
                        <Content>$80.00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Discount</Label>
                        <Content>$20.00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Official</Label>
                        <Content>$60.00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Config Info</Label>
                        <Content>
                            Data disk type: MongoDB
                            <br />
                            Database version: 3.4
                            <br />
                            Package: dds.mongo.mid
                            <br />
                            Storage space: 10 GB
                            <br />
                            Replication factor: 3
                            <br />
                            Region: East China 1
                        </Content>
                    </DescriptionsItem>
                </ChildContent>
                
            </Descriptions>
            <br />
            <br />
            <Descriptions Size=size>
                <Title>Custom Size</Title>
                <ChildContent>
                    <DescriptionsItem>
                        <Label>Product</Label>
                        <Content>Cloud Database</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Billing Mode</Label>
                        <Content>Prepaid</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Order time</Label>
                        <Content>18:00:00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Amount</Label>
                        <Content>$80.00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Discount</Label>
                        <Content>$20.00</Content>
                    </DescriptionsItem>
                    <DescriptionsItem>
                        <Label>Official</Label>
                        <Content>$60.00</Content>
                    </DescriptionsItem>
                </ChildContent>
            </Descriptions>
        </div>
    </Demo>
</Codebox>
@code{
    private DescriptionsSize size = DescriptionsSize.Default;

    private void ChangeSize(string newSize)
    {
        size = DescriptionsSize.FromName(newSize);
    }
}
