<Codebox Title="Complex">
    <Description>
        <p>
            Complex combination with avatar and multiple paragraphs.
        </p>
    </Description>
    <Demo>
        <Skeleton title="new SkeletonTitleProps { width = 50 }" avatar="new SkeletonAvatarProps()" paragraph="new SkeletonParagraphProps { rows = 4 }" />
    </Demo>
</Codebox>
