<Codebox Title="Complex">
    <Description>
        <p>
            Complex combination with avatar and multiple paragraphs.
        </p>
    </Description>
    <Demo>
        <Skeleton Title="new SkeletonTitleProps { Width = 50 }" Avatar="new SkeletonAvatarProps()" Paragraph="new SkeletonParagraphProps { Rows = 4 }" />
    </Demo>
</Codebox>
