<Codebox Title="Basic list">
    <Description>
        <p>
            Basic list
        </p>
    </Description>
    <Demo>
        <AntList DataSource="sampleData"
                 Bordered
                 Size="AntListSize.Small"
                 RenderItem="RenderItem" />
    </Demo>
</Codebox>
@code{
    private RenderFragment RenderItem(SampleItem sampleItem)
    {
        RenderFragment avatar = @<Avatar ImageSource="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"/>;
        RenderFragment title = @<a href="#">@sampleItem</a>;
        RenderFragment description = @<span>Ant Design, a design language for background applications, is refined by Ant UED Team</span>;

        return @<ListItem>
                   <ListItemMeta
                       Avatar="avatar"
                       Title="title"
                       Description="description"
                   />
               </ListItem>;
    }
    private List<SampleItem> sampleData = new List<SampleItem>(new SampleItem[] { 
        new SampleItem("Ant Design Title 1"),
        new SampleItem("Ant Design Title 2"),
        new SampleItem("Ant Design Title 3"),
        new SampleItem("Ant Design Title 4")});

  
    private class SampleItem
    {
        public string Message { get; set; }

        public SampleItem(string message)
        {
            Message = message;
        }

        public override string ToString()
        {
            return $"{Message}";
        }
    }
}