<Codebox Title="Simple list">
    <Description>
        <p>
            List supports a <code>AntListSize.Default</code> list size as well as a <code>AntListSize.Large</code> and <code>AntListSize.Small</code> size.
            If a large or small list is desired, set the <code>Size</code> property to either <code>AntListSize.Large</code> or <code>AntListSize.Small</code> respectively. The default size is <code>AntListSize.Default</code> if omitted.
            Customizing the header and footer of list by setting <code>Header</code> and <code>Footer</code> property.
        </p>
    </Description>
    <Demo>
        <br />
        Small list size
        <br />
        <AntList DataSource="sampleData"
                 Bordered
                 Size="AntListSize.Small"
                 Header="header"
                 Footer="footer"
                 RenderItem="RenderItem" />
        <br />
        Normal list size
        <br />
        <AntList DataSource="sampleData"
                 Header="header"
                 Footer="footer"
                 Bordered />
        <br />
        Large list size
        <br />
        <AntList DataSource="sampleData"
                 Size="AntListSize.Large"
                 Header="header"
                 Footer="footer"
                 Bordered />
    </Demo>
</Codebox>
@code{
    private RenderFragment header =@<span>Header</span>;
    private RenderFragment footer =@<span>Footer</span>;

    private RenderFragment RenderItem(SampleItem sampleItem)
    {
        return @<ListItem><Text Mark>[ITEM]</Text> @sampleItem</ListItem>;
    }
    private List<SampleItem> sampleData = new List<SampleItem>(new[] { new SampleItem("Racing car sprays burning fuel into crowd."),
                                                                                  new SampleItem("Japanese princess to wed commoner."),
                                                                                  new SampleItem("Australian walks 100km after outback crash."),
                                                                                  new SampleItem("Man charged over missing wedding girl."),
                                                                                  new SampleItem("Los Angles battles huge wildfires.")});

    private class SampleItem
    {
        
        public string Message { get; set; }

        public SampleItem(string message)
        {
            Message = message;
        }

        public override string ToString()
        {
            return $"{Message}";
        }
    }
}