<Codebox Title="Delay">
    <Description>
        <p>
            Specifies a delay for loading state. If
            <code>spinning</code> ends during delay, loading status won't appear.
        </p>
    </Description>
    <Demo>
        <div>
            <Spin Spinning=loading Delay=500>
                <Alert Type=AlertType.Info>
                    <Message>Alert message title</Message>
                    <Description>Further details about the context of this alert.</Description>
                </Alert>
            </Spin>
            <div style="margin-top: 16px">
                Loading state：
                <Switch OnClick=toggle />
            </div>
        </div>
    </Demo>
</Codebox>

@code {
    bool loading = false;

    private void toggle(bool value)
    {
        loading = value;
    }
}