<Codebox Title="Embedded mode">
    <Description>
        <p>
            Embedding content into <code>Spin</code> will set it into loading state.
        </p>
    </Description>
    <Demo>
        <div>
            <Spin Label="Loading..." Spinning=loading>
                <Alert Type=AlertType.Info>
                    <Message>Alert message title</Message>
                    <Description>Further details about the context of this alert.</Description>
                </Alert>
            </Spin>
            <div style="margin-top: 16px">
                Loading state：
                <Switch OnClick=toggle />
            </div>
        </div>
    </Demo>
</Codebox>

@code {
    private bool loading = false;
    
    private void toggle(bool value)
    {
        loading = value;
    }
}