<Codebox Title="Custom spinning indicator">
    <Description>
        <p>
            Use custom loading indicator.
        </p>
    </Description>
    <Demo>
        <Spin>
            <Indicator>
                <Icon Type=IconType.Outlined.Loading class="ant-spin-dot" style="font-size: 24px;"/>
            </Indicator>
        </Spin>
    </Demo>
</Codebox>