<Codebox Title="Size">
    <Description>
        <p>
            A small <code>Spin</code> is used for loading text, default sized <code>Spin</code> for loading a card-level block, and large <code>Spin</code> used for loading a <bold>page</bold>.
        </p>
    </Description>
    <Demo>
        <div class="ant-space ant-space-horizontal ant-space-align-center">
            <Spin Size=SpinSize.Small style="margin-right: 16px;"/>
            <Spin style="margin-right: 16px;"/>
            <Spin Size=SpinSize.Large/>
        </div>
    </Demo>
</Codebox>

@code{
    //when component Space is done use Space with size = middle.
}