<Codebox Title="Index">
    <Description>
        <p>
            Standard space
        </p>
    </Description>
    <Demo>
        <Space>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" Label="Primary"/>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Default" Label="Default"/>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Dashed" Label="Dashed"/>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Link" Label="Link" />
            </SpaceItem>
        </Space>
    </Demo>
</Codebox>