@inject NotificationService NotificationService

<Codebox Title="Basic">
    <Description>
        <p>
            The simplest usage that close the notification box after 4.5s.
        </p>
    </Description>
    <Demo>
        <Button OnClick="showNotification" Label="Open the notification box" />
    </Demo>
</Codebox>
@code{
    private void showNotification()
    {
        NotificationService.Open("Notification Title", "This is the content of the notification. This is the content of the notification. This is the content of the notification.");
    }
}