<Codebox Title="Basic">
    <Description>
        <p>
            <code>TabsSize.Small</code> and <code>TabsSize.Large</code> example. The first tab is set to be active by default trough the <code>DefaultActiveKey</code> parameter.
        </p>
    </Description>
    <Demo>
        <Tabs DefaultActiveKey="1" Size="TabsSize.Small" OnChange="OnChange" OnTabClick="OnTabClicked">
            <TabPane Tab="tab1" Key="1">
                Content of Tab Pane 1
            </TabPane>
            <TabPane Tab="tab2" Key="2">
                Content of Tab Pane 2
            </TabPane>
            <TabPane Tab="tab3" Key="3">
                Content of Tab Pane 3
            </TabPane>
        </Tabs>
        <br />
        <br />
        <Tabs DefaultActiveKey="A" Size="TabsSize.Large">
            <TabPane Tab="tabA" Key="A">
                Content of Tab Pane A
            </TabPane>
            <TabPane Tab="tabB" Key="B">
                Content of Tab Pane B
            </TabPane>
            <TabPane Tab="tabC" Key="C">
                Content of Tab Pane C
            </TabPane>
        </Tabs>
    </Demo>
</Codebox>
@code{
    RenderFragment tab1 = @<span>Tab 1</span>;
    RenderFragment tab2 = @<span>Tab 2</span>;
    RenderFragment tab3 = @<span>Tab 3</span>;

    RenderFragment tabA = @<span>Tab A</span>;
    RenderFragment tabB = @<span>Tab B</span>;
    RenderFragment tabC = @<span>Tab C</span>;

    private void OnTabClicked(string key)
    {
        System.Diagnostics.Debug.WriteLine(key);
    }
    private void OnChange(string key)
    {
        System.Diagnostics.Debug.WriteLine(key);
    }
}