<Codebox Title="TabPosition">
    <Description>
        <p>
            You can position the tabs with the <code>TabPosition</code> parameter.
        </p>
    </Description>
    <Demo>

        @foreach (var direction in TabDirection.List)
        {
            <br />
            <br />
            <code>TabDirection.@(ToUpperFirstLetter(direction.Name))</code>
            <br />
            <br />
            <Tabs DefaultActiveKey="1" TabPosition="direction">
                <TabPane Tab="tab1" Key="1">
                    Content of Tab Pane 1
                </TabPane>
                <TabPane Tab="tab2" Key="2">
                    Content of Tab Pane 2
                </TabPane>
                <TabPane Tab="tab3" Key="3">
                    Content of Tab Pane 3
                </TabPane>
            </Tabs>
        }
    </Demo>
 </Codebox>
@code{
    RenderFragment tab1 =@<span>Tab 1</span>;
    RenderFragment tab2 = @<span>Tab 2</span>;
    RenderFragment tab3 = @<span>Tab 3</span>;
    private string ToUpperFirstLetter(string input)
    {
        char[] letters = input.ToCharArray();
        letters[0] = char.ToUpper(letters[0]);
        return new string(letters);
    }
}