<Codebox Title="Extra content">
    <Description>
        <p>
            You can add extra actions to the right of Tabs with the <code>TabBarExtraContent</code> parameter.
        </p>
    </Description>
    <Demo>
        <Tabs DefaultActiveKey="1" TabBarExtraContent="extraContent">
            <TabPane Tab="tab1" Key="1">
                Content of Tab Pane 1
            </TabPane>
            <TabPane Tab="tab2" Key="2">
                Content of Tab Pane 2
            </TabPane>
            <TabPane Tab="tab3" Key="3">
                Content of Tab Pane 3
            </TabPane>
        </Tabs>
    </Demo>
</Codebox>
@code{
    RenderFragment tab1 =@<span>Tab 1</span>;
RenderFragment tab2 = @<span>Tab 2</span>;
RenderFragment tab3 = @<span>Tab 2</span>;
RenderFragment extraContent = @<Button Label="Extra action"></Button>;
}