<Codebox Title="Icon">
    <Description>
        <p>
            The <code>Tab</code> parameter accepts a RenderFragment.
        </p>
    </Description>
    <Demo>
        <Tabs DefaultActiveKey="1">
            <TabPane Tab="tab1" Key="1">
                Tab  1
            </TabPane>
            <TabPane Tab="tab2" Key="2">
                Tab  2
            </TabPane>
        </Tabs>
    </Demo>
</Codebox>
@code{
    RenderFragment tab1 = @<span><Icon Type="IconType.Outlined.Apple" />Tab 1</span>;
    RenderFragment tab2 = @<span><Icon Type="IconType.Outlined.Android" />Tab 2</span>;
}